{% extends 'store/main.html' %}
{% load static %}
{% block content %}

    <div style="color: tomato;">
        <form method="POST" action="" >
            <div>
                <h3>New Blog Entry</h3>
                {% csrf_token %}
                <h6>Title</h6>
                {{form.name}}
                <h6>Short Summary</h6>
                {{form.shortdescription}}
                <h6>Blog Content</h6>
          
                {{form.content.as_textarea}}
    
                <br>
              
                <div>
                    <input class="waves-effect waves-light btn" type="submit" name="Update Information">
                </div>
            
            </div>
        </form>
           
 
    </div>


{% endblock %}



