{% extends 'store/main.html' %}
{% load static %}
{% block content %}


<body style="background-image: url('static/images/bbgr.jpg');background-size: cover; height: 1600px; ">
    
<h1 style="text-align: center;color: antiquewhite; font-size: 300px;  top:0;
width:100%;
margin-top: 100px;
height:90px;
position:fixed;    font-family:'Times New Roman', Times, serif;">CHIRO</h1>



</body>


{% endblock %}


    <style>


  

  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  


    </style>


