
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<div class='log_bk'>
    <h2>LOGIN PAGE</h2>
    <form style="text-align: center; color: grey; font-weight: bold; " method="POST" action="">
        {% csrf_token %}
    
     
        <input type="text" name='username' placeholder="username">
        <input type="password" name='password' placeholder="password">
        {% for message in messages %}
        <p id="messages">{{message}}</p>
        {% endfor %}
        <br>
        <br>
        <br>
        <br>
    
        <div>
            <input class="waves-effect waves-light btn" value="LOG IN" type="submit" name="Log in">
    
        </div>
       
    
    
    </form>

</div>


<style>
    
    .btn{
        border-radius: 20px;
        
    }
    .log_bk{
        background-color: teal;
        text-align: center;
        color: wheat;
        width: 700px;
        margin: auto;
        margin-top: 100px;

    }


</style>



