{% extends 'store/main.html' %}
{% load static %}
{% block content %}


<br>
<div class="row" style="color: green; font-weight:bold;">
	<div class="col-md-3">
		<div class="card card-body">
			<a class="waves-effect waves-light btn" href="{% url 'store' %}"> &#8592; Back to Profile</a>
			<hr>
			<h4 style="text-align: center">Profile Settings</h4>
			<hr>
			<img class="profile-pic" src="{{request.user.customer.image.url}}" >
		
		</div>
	</div>
	<div class="col-md-9">
		<div class="card card-body">
			
			<form method="POST" action="" enctype="multipart/form-data">
				{% csrf_token %}
				<div>
					<h6>Nick Name</h6>
					{{form.name}}
				</div>
				
				<div>
					<h6>Your Profile Picture!</h6>
					{{form.image}}
				</div>
				<div>
					<br>
					<h6>Write Something about You!</h6>
					{{form.profile.as_textarea}}
				</div>
				<div>
					<h6>Facebook Url</h6>
					{{form.facebok}}
					<h6>Twitter Url</h6>
					{{form.twitter}}
				</div>
				<br>
	
			<input class="secondary-content waves-effect waves-light btn" type="submit" name="Update Information">
			</form>
		</div>
	</div>
</div>

{% endblock %}