

    <div class='log_bk' >
        <h2>REGISTER PAGE</h2>


        <form style="text-align: center; " method="POST" action="">
            {% csrf_token %}
       <div>
        {{form.username.label}}
        {{form.username}}
       </div>
    
       <br>
       <div>
            
        {{form.email.label}}
        {{form.email}}
       </div>
       <br>
        <div>
            {{form.password1.label}}
            {{form.password1}}
        </div>
        <br>
    <div>
        {{form.password2.label}}
        {{form.password2}}  
    </div>
    
           
           
           
    
            {{form.errors}}
    
            <br>
            <br>
            <br>
            <br>
    
        <div>
            <input class='btn' value="REGISTER" type="submit" name="Create User">
            <br>
    
        </div>
    
        </form>
    </div>


    <style>
        
        .btn{
            border-radius: 20px;
            
        }
        .log_bk{
            
            background-color: teal;
            color: wheat;
            text-align: center;
            font-weight: bold;
            width: 700px;
            margin: auto;
            margin-top: 100px;
           
    
        }
    
    
    </style>