{% extends 'store/main.html' %}
{% load static %}

{% block content %}


  
  <h2 class='header1'>My Page</h2>
  
  <div>
    {% for blog in blogposts %}
    <div class="leftcolumn">
      <div class="card">
        <h2>{{blog.name}}</h2>
        <h5>{{blog.date_created}}</h5>
        
        <p>{{blog.content}}</p>
        <form method="POST"  action="{% url 'blog_edit' blog.id %}">
          {% csrf_token %} 
          <button class='btn1' value="{{blog.id}}" type="submit">Edit

          </button>
        </form>
           
        <a href="{% url 'delete' blog.id %}"><button class='btn1'>Delete the post</button></a>
        
        </div>

       
    </div>
    {% endfor %} 
    
     
    <div >
      <div class="card">
        <h2 style="display: inline">About Me</h2><span>{{user.name}}</span>
        <form action="{% url 'profile_settings' %}">
          <button class="btn1">Change Profile</button> 
        </form>
        
        <div class="fakeimg" >
          <img class='pr_img' src="{{user.image.url}}" ></div>
        <p style="text-align: center;">{{user.profile}}</p>
      </div>
      <div class="card">
        <h3>Liked Post</h3>
        {% for post in likedpost%}
        <div>
          
          {{post.name}} by <a href="{% url 'userpage' %}">{{post.user.username}}</a> 
         
        </div>
        {% endfor %} 
      </div>
      <div class="card follow_me">
        <h3>Follow Me</h3>
        <p><img class="icon_foto" src ="/blogwebsite_var1/static/images/fb.png"><a href="{{user.facebok}}">Facebook</a></p><p><img class="icon_foto" src ="/blogwebsite_var1/static/images/tw.png"><a href="{{user.twitter}}">Twitter</a></p>
      </div>
    </div>
  </div>


{% endblock %}