{% extends 'store/main.html' %}
{% load static %}



{% block content %}
<body style="background-image: url(/blogwebsite/static/images/b.jpg); "> 

  <div class="header">
    <h2 style="font-weight: bold; color: hsl(355, 37%, 26%);">My Page</h2>
  
  </div>
  
  <div>
    {% for blog in blogposts %}
    <div class="leftcolumn">
      <div class="card">
        <h2>{{blog.name}}</h2>
        <h5>{{blog.date_created}}</h5>
        
        <p>{{blog.content}}</p>
      </div>
    </div>
    {% endfor %} 
    
     
    <div >
      <div class="card">
        <h2 style="display: inline">About Me</h2><span>{{user.name}}</span>
        <form action="{% url 'profile_settings' %}">
          <button class="btn1">Change Profile</button> 
        </form>
        
        <div class="fakeimg" >
          <img class='pr_img' src="{{user.image.url}}" ></div>
        <p>{{user.profile}}</p>
      </div>
      <div class="card">
        <h3>Popular Post</h3>
        <div class="fakeimg">Image</div><br>
        <div class="fakeimg">Image</div><br>
        <div class="fakeimg">Image</div>
      </div>
      <div class="card">
        <h3>Follow Me</h3>
        <p>Some text..</p>
      </div>
    </div>
  </div>
  
 



</body>





{% endblock %}