{% extends 'store/main.html' %}
{% load static %}

{% block content %}


  
  <label style="font-size: large; text-align: center;">My Page</h2>
  
  <div class="container" style="width:fit-content;">
    {% for blog in blogposts %}
    <div class="row">
      <div class="col s9">
        <div class="">

          <h2>{{blog.name}}</h2>
          <h5>{{blog.date_created}}</h5>
          
          <p>{{blog.content}}</p>
          <form method="POST"  action="{% url 'blog_edit' blog.id %}">
            {% csrf_token %} 
            <button style="margin-bottom: 4px;" class="waves-effect waves-light btn" value="{{blog.id}}" type="submit">Edit
  
            </button>
          </form>
             
          <a href="{% url 'delete' blog.id %}"><button class="waves-effect waves-light btn">Delete the post</button></a>
          
        </div>

      </div>
      
      <div class="col s3" >
        <div class="collection">
          <label style="font-size: 48px;">about me</label>
          
          <div class="collection-item avatar">
            
            
            
            
            
            <img class="circle" style="width: 47px;" src="{{user.image.url}}" >
            <p style="font-weight: bold;">{{user.name}}</p>
            <br>
            <p class="title">{{user.profile}}</p>
            <form class="" action="{% url 'profile_settings' %}">
              <button class="waves-effect waves-light btn " >Change Profile</button> 
            </form>

          </dvi>
          
        </div>
        <div class="card">
          <label style="font-size: 40px; ">Liked Post</label>
          {% for post in likedpost%}
          <div>
            
            {{post.name}} written by <a href="{% url 'userpage' %}">{{post.user.username}}</a> 
           
          </div>
          {% endfor %} 
        </div>
        <div class="card follow_me">
          <label style="font-size: 40px;">Follow Me</label>
          <p><img class="circle" style="width: 47px;" src ="/blogwebsite_var1/static/images/fb.png"><a  href="{{user.facebok}}">Facebook</a></p><p><img class="circle" style="width: 47px;" src ="/blogwebsite_var1/static/images/tw.png"><a href="{{user.twitter}}">Twitter</a></p>
        </div>
      </div>
      

       
    </div>
    {% endfor %} 
    
     
    
  </div>


{% endblock %}